*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    /* border-color:red; */
    /* border-style: solid; */

}

nav{
background-color: rgb(24, 77, 176);
padding: 1px 1px;
display: flex;
justify-content: space-between;

}


nav h1{
    font-size: 48px;
    color: white;
    background-color: darkblue;
    width:fit-content;
    border-radius: 10px;
    padding: 15px;
    margin-left:5px;  
    margin-bottom: 10px;
    text-shadow: 5px 5px black;
}


nav ul {
    width:fit-content;
    list-style: none;
    margin-right:10px;
    margin-bottom: 10px;
}

nav ul li{
    margin-top: 80px;
    display:inline-block;
    border-bottom-style: solid;
    border-color:darkblue;
    border-width: 5px;
    
    
}

nav ul li a{
display:inline-block;
text-decoration: none;
color:white;
font-size: 30px;
font-weight: bold;
padding:10px;
text-shadow: 5px 5px black;
}

a:hover{
color:red;

}


.banner{
width: 100%;
height: 255px;
object-fit: cover;



}    
main{
    display: flex;
    margin: -3px;
}

aside{
    background-color: darkblue;
    width:20%;
}

aside ul{
    display:block;
    text-align:right;
    list-style: none;
    font-size:48px;
    color:white;
    margin-right:10px;
    margin-top: 10px;
    
}
aside ul li{
    padding:25px;
    border-color: white;
    text-shadow: 5px 5px black;
    
}
.content{
    background-color: rgb(24, 77, 176);
    width:100%;
    
}

#aboutMe{

border-right-style:solid;


}
#work{


border-right-style:solid;
}

#contactMe{
    border-right-style:solid;
    

}

.row1{
    height: 200px;
    margin-bottom: 30px;
    
}
.row2{
    height: 500px;
    margin-bottom: 30px;
}
.row3{
    height:300px;
}